name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install
      working-directory: ./bulletin-board-app  # run inside the correct folder

    - name: Run tests
      run: npm run test
      working-directory: ./bulletin-board-app

    - name: Run test coverage
      run: npm run test:coverage
      working-directory: ./bulletin-board-app

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/bulletin-board-app:latest .
      working-directory: ./bulletin-board-app

    - name: Push Docker image
      run: |
        docker tag bulletin-board-app:latest ${{ secrets.DOCKER_USERNAME }}/bulletin-board-app:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/bulletin-board-app:latest
